body {
    font-family: Arial, sans-serif;
    color: #5e6f72;
    background-color: #a2babe;
    display: grid;
    place-items: center;
    overflow: hidden;
  }
  
.app-container {
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 8px;    
  }

h4, h3, h2 {
    margin: 5px;
}
.add-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(120, 120, 250);
    color: white;
    font-size: 14px;
    cursor: pointer;
  }
  
  .add-button:hover {
    background-color: darkblue;
  }
  
  .todo-list-container {
    margin-top: 20px;
  }
  
  .todo-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 17px;
  }
  
  .todo-item-content {
    display: flex;
    align-items: center;
  }
  
  .state-indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .state-selector {
    margin: 0 10px;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
    background-color: #35555b;
  }
  
  .todo-item.to-do {
    color: red;
  }
  
  .todo-item.in-progress {
    color: orange;
  }
  
  .todo-item.done {
    color: green;
  }

  /* states */
.state-indicator.state-to-do {
    background-color: red;
  }
  
  .state-indicator.state-in-progress {
    background-color: orange;
  }
  
  .state-indicator.state-done {
    background-color: green;
  }

  /* delete */
  .delete-btn{
    background-color: red;
    border-radius: 15px;
    font-size: 12px;
    color: white;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
  }
  
  .delete-btn:hover {
    background-color: darkred;
  }
  
  /* delete all */
  .delete-all-btn {
    background-color: orange;
    font-size: 14px;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .delete-all-btn:hover {
    background-color: darkorange;
  }
  
  .delete-all-btn span{
    background-color: rgba(255, 0, 0, 0.5);
    padding: 5px 5px;
    font-size: 10px;
    border-radius: 15px;

    position: relative;
    top: -1.5px;
}

.todo-counter {
    margin: 2px 0 10px 0;
    font-size: 10px;
    color: #333;
  }
  
/* category */
.tabs {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
  
  .tab {
    flex: 1;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    color: white;
    background-color: #6896be;
    border: none;
  }
  
  .tab.active {
    background-color: #45627c;
    font-weight: bold;
  }
  